@page "/"
@using DPD_App.Models
@inject AppState AppState

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="Test">
        <MudText>Test</MudText>
</MudButton>

@code
{
        private async void Test(MouseEventArgs obj)
        {
                var package = new Package();
                try
                {
                        await package.GenerateWaybills(AppState.CurrentProfile);
                }
                catch (SoapException e)
                {
                        Console.WriteLine(e);
                }
        }
}
