@page "/MyPudoAPI"

<PageTitle>MyPudoAPI</PageTitle>
<MudPopoverProvider/>

<h1>My Pudo API</h1>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}