@page "/PudoFinder"

<PageTitle>PudoFinder</PageTitle>
<MudPopoverProvider/>

<h1>PudoFinder</h1>

<MudGrid>
    <!-- Query text -->
    <MudItem xs="12">
        <MudTextField @bind-Value="ReadOnly" Label="Query" ReadOnly="true" Variant="Variant.Outlined"/>
    </MudItem>

    <!-- Country select -->
    <MudItem xs="3">
        <MudSelect T="COUNTRIES" Value="SelectedCountry" Label="Select country" ValueChanged="OnCountrySelect">
            @foreach (COUNTRIES item in Enum.GetValues(typeof(COUNTRIES)))
            {
                <MudSelectItem Value="@item">@item</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="12">
        <MudCard style="height:750px">
            <MudCardContent>
                <iframe width="100%" height="100%" src="@ReadOnly" frameborder="0" allow="geolocation *"></iframe>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    public COUNTRIES SelectedCountry { get; set; } = COUNTRIES.PL;
    public MapQuery ReadOnly { get; set; } = new MapQuery(Globals.MAP_KEY);
    
    protected override async Task OnInitializedAsync()
    {
        ReadOnly.Country = SelectedCountry;
    }

    private void OnCountrySelect(COUNTRIES obj)
    {
        SelectedCountry = obj;
        ReadOnly.Country = SelectedCountry;
    }

}